.center {
margin: auto;
width: 30%;
border: 2px solid blue;
padding:10px;
margin-top:80px;



}

input {

width: 100%;
resize: vertical;
margin-top:10px;
margin-bottom:10px;
box-sizing: border-box;


}